# Домашнее задание к лекции «Библиотека Pandas» (Беликов Александр)

### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
import pandas as pd

In [66]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [67]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [68]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [88]:
best_movie = ratings[ratings.rating == 5.0 ]
joined_data = movies.merge(best_movie, on='movieId', how='left')

print('Лучший фильм:', joined_data['title'].value_counts().index[0])

Лучший фильм: Shawshank Redemption, The (1994)

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [84]:
power_data = pd.read_csv('power.csv')
power_data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [111]:
countries_final = power_data[ ((power_data['country']=='Latvia') | (power_data['country']=='Lithuania') | (power_data['country']=='Estonia')) ]
categories_final = countries_final[ ((countries_final['category']==4) | (countries_final['category']==12)) | (countries_final['category']==21) ]
year_final = categories_final[ (categories_final['year'] > 2004) & (categories_final['year'] < 2011) ]
quantity_final = year_final[ (year_final['quantity'] >= 0) ]
sum_by_country = year_final.groupby(['country']).sum()
sum_by_country = sum_by_country.filter( items = ['country', 'quantity'])

print('Суммарное потребление по всем странам:', format(sum_by_country['quantity'].sum()))

Суммарное потребление по всем странам: 240481.0

In [97]:
sum_by_country

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122197.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [109]:
page_url ='https://www.finanz.ru/valyuty/v-realnom-vremeni'
df = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding='utf-8')

In [110]:
df[0]

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1020958,-,1018459,"0,25 %",02499,07.11.2020
1,NaN,EUR/RUB,919550,-,919540,"0,00 %",00010,07.11.2020
2,NaN,USD/RUB,776095,-,767710,"1,09 %",08385,07.11.2020
3,NaN,JPY/RUB,07509,-,07491,"0,24 %",00018,07.11.2020
4,NaN,CNY/RUB,117388,-,117119,"0,23 %",00270,07.11.2020
5,NaN,CHF/RUB,862388,-,859875,"0,29 %",02513,07.11.2020
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,11870,-,11826,"0,38 %",00045,07.11.2020
8,NaN,EUR/GBP,09038,-,09038,"0,00 %",00000,07.11.2020
9,NaN,EUR/JPY,1227450,-,1227300,"0,01 %",00150,07.11.2020
10,NaN,EUR/CHF,10692,-,10699,"-0,07 %",-00007,07.11.2020
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,08425,-,08421,"0,04 %",00003,07.11.2020
13,NaN,USD/GBP,07602,-,07603,"-0,02 %",-00001,07.11.2020
14,NaN,USD/JPY,1033550,-,1033450,"0,01 %",00100,07.11.2020
15,NaN,USD/CHF,08999,-,09001,"-0,02 %",-00002,07.11.2020
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),08200,-,08100,"0,05 %",00000,07.11.2020
18,NaN,JPY/GBP,00074,-,00074,"-0,01 %",00000,07.11.2020
19,NaN,JPY/USD,00097,-,00097,"0,01 %",00000,07.11.2020
20,NaN,JPY/CHF (100:1),08700,-,08700,"-0,37 %",00000,07.11.2020
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,13155,-,13155,"0,00 %",00000,07.11.2020
23,NaN,GBP/JPY,1359635,-,1359547,"0,01 %",00089,07.11.2020
24,NaN,GBP/EUR,11075,-,11117,"-0,38 %",-00043,07.11.2020
25,NaN,GBP/CHF,11832,-,11896,"-0,54 %",-00065,07.11.2020
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,11832,-,11896,"-0,54 %",-00065,07.11.2020
28,NaN,EUR/CHF,10692,-,10699,"-0,07 %",-00007,07.11.2020
29,NaN,JPY/CHF (100:1),08700,-,08700,"-0,37 %",00000,07.11.2020
30,NaN,USD/CHF,08999,-,09001,"-0,02 %",-00002,07.11.2020
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,335330,-,334327,"0,30 %",01003,07.11.2020
33,NaN,USD/UAH,282500,-,281550,"0,34 %",00950,07.11.2020
34,NaN,CHF/UAH,313912,-,312660,"0,40 %",01252,07.11.2020
35,NaN,GBP/UAH,371632,-,370323,"0,35 %",01309,07.11.2020